<img src="../../assets/bag.svg" alt="taco" class="logo">

<mat-card>
  <mat-form-field appearance="outline">
    <mat-label>Add Todo</mat-label>
    <input matInput [formControl]="itemTitle" (keyup.enter)="addTodo()">
  </mat-form-field>

<br>

<app-todo-item *ngFor="let todo of todos | filterPipe:filter"
[todo]="todo"
[completed]="todo.completed"
(doubleClickedItem)="editTodo($event)"
(cancelledItem)="cancelEdit($event)"
(deletedItem)="deleteTodo($event)"
(checkedItem)="checkAllTodos($event)"
(doneTask)="doneEdit($event)"
>
</app-todo-item>

<div class="extra-container">
  <div><label>
    <mat-checkbox class="example-margin" [formControl]="checkAll"> Check All</mat-checkbox>
  </label></div>
  <div>{{ remaining() }} items left</div>
</div>

<div class="extra-container">
  <div>
      <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle [ngClass]="{'active': filter === 'all'}" (click)="filter='all'">All</mat-button-toggle>
        <mat-button-toggle [ngClass]="{'active': filter === 'active'}" (click)="filter='active'">Active</mat-button-toggle>
        <mat-button-toggle [ngClass]="{'active': filter === 'completed'}" (click)="filter='completed'">Completed</mat-button-toggle>
      </mat-button-toggle-group>
  </div>
  
  <div *ngIf="atLeastOneCompleted()">
    <button mat-raised-button color="accent" (click)="clearCompleted()">Clear Completed</button>
  </div>

</div>
</mat-card>