<img src="../../assets/bag.svg" alt="taco" class="logo">

<input type="text" class="todo-input" placeholder="What needs to be done" [formControl]="itemTitle" (keyup.enter)="addTodo()">
Value: {{ itemTitle.value }}

<app-todo-item *ngFor="let todo of todos | filterTodos:filter"
[todo]="todo"
[completed]="todo.completed"
(doubleClickedItem)="editTodo($event)"
(cancelledItem)="cancelEdit($event)"
(deletedItem)="deleteTodo($event)"
(doneTask)="doneEdit($event)"
>
</app-todo-item>

<div class="extra-container">
  <div><label><input type="checkbox" (change)="checkUncheckAll(anyRemainingModel)"  [(ngModel)]="!anyRemainingModel"> Check All</label></div>
  <div>{{ remaining() }} items left</div>
</div>

<div class="extra-container">
  <div>
    <button [ngClass]="{'active': filter === 'all'}" (click)="filter='all'">All</button>
    <button [ngClass]="{'active': filter === 'active'}" (click)="filter='active'">Active</button>
    <button [ngClass]="{'active': filter === 'completed'}" (click)="filter='completed'">Completed</button>
  </div>

  <div *ngIf="atLeastOneCompleted()">
    <button (click)="clearCompleted()">Clear Completed</button>
  </div>
</div>

<button (click)="detectChanges()">DETECT</button>