<div class="todo-item" @fade>
    <div class="todo-item-left">
      <input type="checkbox" [(ngModel)]="todo.completed" (change)="doneEdit(todo)">
      <div *ngIf="!todo.editing; else editingTodo" class="todo-item-label" [ngClass]="{ 'completed' : todo.completed }" (dblclick)="editTodo(todo)">{{ itemTitle.value }}</div>
      <ng-template #editingTodo>
        <input type="text" class="todo-item-edit" [formControl]="itemTitle" (blur)="doneEdit(todo)" (keyup.enter)="doneEdit(todo)" (keyup.esc)="cancelEdit(todo)" autofocus>
      </ng-template>
    </div>
    <div class="remove-item" (click)="deleteTodo(todo)">
      &times;
    </div>
  </div>